.container {
margin: 0 auto;
width: 300px;
border: 3px;
border-style: solid;
}

.search {
    padding-top: 30px;
    
}


.days {
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}

.hiTemps {
  text-align: center;
  margin: 0 auto;
  text-align: center;
}

.lowTemps {
  text-align: center;
  margin: 0 auto;
  text-align: center;
}

.dates {
  text-align: center;
  margin: 0 auto;
  text-align: center;
}

.outro {
    padding-top: 20px;
}