
.container {
margin: 30px auto;
max-width: 700px;
padding: 20px;
border: 3px;
border-style: solid;
font-family: Arial, Helvetica, sans-serif;
}

.search {
    padding-top: 20px;
    margin-bottom: 0;    
}

.sundown {
max-width: 100px;
left: -20px;
padding: 0;
}

.weather-temp img {
  margin-right: 20px;
  position: relative;
 
}

.city {
  left: -40px;
  position: relative;
   font-size: 40px;
  color: brown;
}




.temperature {
   font-size: 40px;
  color: brown;

}

.units {
  position: relative;
  font-size: 11px;
  top: -30px;
}



.today {
  line-height: 20px;
  list-style: none;
   color: lightsalmon;
   position: relative;
   top: 20px;
   font-size: 16px;
}

.detsA {
  text-align: center;
  margin: 0 auto;
  line-height: 22px;
  list-style: none;
   color: lightsalmon;
   position: relative;
   top: -20px;
   font-size: 16px;
}



.days {
  
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;

}

.hiTemps {
  
  text-align: center;
font-size: 20px;
color: brown;

}

.lowTemps {

  text-align: center;
  color: blue;
  font-size: 20px;
}

.dates {
  text-align: center;
  margin: 0 auto;
  text-align: center;
}

.forecast {
    padding-left: 25px;

.outro {
    padding-top: 0px;
  text-align: center;
    margin: 0 auto;
  }